@import url('./views/main-view.css');
@import url('./views/übersicht-view.css');
@import url('./views/küche-view.css');
@import url('./views/fahrer-view.css');
@import url('lumo-css-framework/all-classes.css');

html {
  --lumo-primary-text-color: rgb(183, 14, 12);
  --lumo-primary-color-50pct: rgba(183, 14, 12, 0.5);
  --lumo-primary-color-10pct: rgba(183, 14, 12, 0.1);
  --lumo-primary-color: #b70e0c;
}

#logo {
    justify-content: center;
}

.cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
max-width: 800px;
    margin-top: 20px;
}

.cardcontainer div {
    padding: 20px 24px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px #0001;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    border-left: 4px solid #b70f0b;
    /*text-align: center;*/
    line-height: 1.4;
}

.cardcontainer .cardemoji {
font-size: 24px;
    position: absolute;
    top: 4px;
    right: 12px;
}

.cardtext-small {
margin: 0px;
color: #666;
margin-bottom: 4px;
}

.cardtext-big {
margin: 0px;
    font-size: 24px;
    font-weight: bold;
}

.card-zusatzinfo {
display: block;
font-size: 70%;
}


/* Mobile */
@media only screen and (max-width: 600px) {
    .cardcontainer {
        grid-template-columns: 1fr;
        gap: 12px;
      }
}